* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/bg1.jpg");
    background-position: center;
    /* background-color: hsl(90, 69%, 29%); */
}

.tbl {
    width: fit-content;
    height: fit-content;
    border-radius: 0.9px;
    margin-top: 5px;
    margin-left: 10px;
}

input[type=button] {
    background-color: rgb(42, 226, 149);
    color: rgb(82, 2, 9);
    width: 165px;
    height: 100px;
    font-size: 40px;
    border-radius: 0.8px;
}

input[type=text] {
    background-color: rgb(42, 226, 149);
    color: rgb(82, 2, 9);
    width: 500px;
    height: 100px;
    font-size: 40px;
}


/* .pluse {
    background-color: rgb(42, 226, 149);
    color: rgb(212, 243, 34);
    width: 165px;
    height: 200px;
    font-size: 40px;
} */

input[type=button]:hover {
    background-color: rgb(8, 53, 59);
}